:root {
    --link-color: #2E2F42;
    --social-link-color: #000000;
    --link-color_hover: #404bbf;
    --heading-font-family: "Roboto , Raleway", sans-serif;
    --text-font-family: "Roboto", sans-serif;
  }

  * {
    font-family: var(--text-font-family);
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  /* styles pentru index.html */

  .header .container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E7E9FC;
    align-items: center;
    box-sizing: border-box;
  }

  .footer {
    background-color: #2E2F42;
  }

  .footer .container {
    justify-content: left;
    border-top: 1px solid #E7E9FC;
    
  }

  .logo {
    display: flex;
    width: 115px;
    height: 24px;
    margin-left: 0;
    justify-content: center;
  }

  .logo:hover {
    color: #404BBF;
  }

  .left-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #4d5ae5;
  }

  .right-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #F4F4FD;
  }

  .after-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #F4F4FD;
    justify-content: left;
  }

  .left-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #4d5ae5;
  }

  .right-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #2E2F42;
  }

  .nav-clas {
    display: flex;
    width: 261px;
    height: 24px;
    justify-content: space-between;
    margin-right: 332px;
  }

  .studio-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2E2F42;
  }

  .studio-clas:hover {
    color: #404BBF;
  }

  .portofolio-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2E2F42;
  }

  .portofolio-clas:hover {
    color: #404BBF;
  }

  .contacts-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2E2F42;
  }

  .contacts-clas:hover {
    color: #404BBF;
  }

  .adress {
    display: flex;
  }

  .adress li:hover {
    color: #404BBF;
  }

.contacts-mail {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2E2F42;
    width: 153px;
    height: 24px;
}

.contacts-mail:hover {
  color: #404BBF;
}

.contacts-tel {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2E2F42;
  width: 151px;
  height: 24px;
  justify-content: right;
}

.contacts-tel:hover {
  color: #404BBF;
}

.hero-section {
  background-color: #2E2F42;
}

.hero-section-ul {
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.hero-section .container {
    display: flex;
    padding: 94px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.effective-solutions {
    width: 496px;
    height: 120px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #FFFFFF;
}

.buton-order-service {
    width: 169px;
    height: 56px;
    background-color:#4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 16px, 32px, 16px, 32px;
}

.buton-order-service:hover {
  background-color: #404BBF;
}

.our-goals-container {
  display: flex;
  padding: 94px 0;
  justify-content: center;
  align-items: center;
}

.our-goals-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
}

.o-g-description-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2E2F42;
}

.card-images .container {
  padding: 94px 0;
  align-items: center;
  text-align: center;
}

.c-i-clasa {
  display: flex;
  justify-content: space-between;
}

.team-card1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.team-card2 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.team-card3 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.team-card4 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.card-images-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #2E2F42;
    text-align: center;
}

.our-team-cards {
  display: flex;
  justify-content: space-between;
}

.our-team .container {
  padding: 94px 0;
  align-items: center;
  text-align: center;
}

.our-team-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2E2F42;
}

.o-t-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2E2F42;
}

.our-team {
  background-color: #F4F4FD;
}

.our-goals {
  display: flex;
  justify-content: center;
  padding: 94 0;
}

.footer-container {
  width: 264px;
}

/* styles pentru portofolio.html */

.filters {
  padding: 94px 0;
}

.filter-butons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterall {
    width: 69px;
    height: 48px;
    background-color:#404BBF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-right: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.filterall:hover {
  background-color: #404BBF;
}

.filterbuton {
    width: 116px;
    height: 48px;
    background-color:#E7E9FC;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4D5AE5;
    margin-right: 24px;
}

.filterbuton:hover {
  background-color: #404BBF;
}

.filterbuton1 {
  width: 78px;
  height: 48px;
  background-color:#E7E9FC;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #4D5AE5;
  margin-right: 24px;
}

.filterbuton1:hover {
background-color: #404BBF;
}

.filterbuton2 {
  width: 101px;
  height: 48px;
  background-color:#E7E9FC;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #4D5AE5;
  margin-right: 24px;
}

.filterbuton2:hover {
background-color: #404BBF;
}

.filterbuton3 {
  width: 126px;
  height: 48px;
  background-color:#E7E9FC;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #4D5AE5;
  margin-right: 24px;
}

.filterbuton3:hover {
background-color: #404BBF;
}

.firstcard-clas {
  display: flex;
  justify-content: space-between;
}

.secondcard-clas {
  display: flex;
  justify-content: space-between;
  padding: 94px 0;
}

.thirdcard-clas {
  display: flex;
  justify-content: space-between;
  padding: 94px 0;
}

.firstcard-clas-h {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
}

.firstcard-clas-p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2E2F42;
}

/* alte clase */

.container {
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.container:not(:first-child):not(:last-child) {
  padding: 94px 0;
}